page-perfil {

    .nome{
        color: red;
        font-weight: bold;
        text-align: center;
    }
    .data{
        font-weight: bold;
        text-align: center;
    } 
    .titulo{
        text-align: center;
        font-weight: bold;
    }
    .descricao{
        text-align: center;
    }
    .back{
        background-color: lightcyan;
    }
}
